#footer {
    position: fixed;
    /* Фиксированное положение */
    left: 0;
    bottom: 0;
    padding: 10px;
    /* Поля вокруг текста */
    background: #39b54a;
    /* Цвет фона */
    color: #fff;
    /* Цвет текста */
    width: 100%;
}